<div class="convo-bubble">
  <li>
    <div id="message-<%= message.id %>">
      <div class="message_other_user message">
        <%= message.content %><br>
      </div>

      <div class="message-time time">
        <% if message.created_at.strftime("%a %b %e") == Date.today.strftime("%a %b %e") %>
          <small><%= message.created_at.strftime("%l:%M%p") %></small>
        <% elsif  message.created_at.strftime("%a %b %e") == Date.yesterday.strftime("%a %b %e") %>
          <small><%= message.created_at.strftime("Yesterday at %l:%M%p")%></small>
        <% else %>
          <small><% message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        <% end %>
      </div>
    </div>
  </li>
</div>
