<h1>My Cookbook</h1>


<ul>
  <% @saved_recipes.each do |saved_recipe| %>
  <li>
    <%= image_tag( "#{saved_recipe.recipe.photo}", size: "300x200", alt: "Recipe image", class: "recipe_index_img" ) %> <br>
    <%=  saved_recipe.recipe.title %>
  </li>
  <% end %>
</ul>
