<div class="container">
  <h1>Find the perfect recipe to save</h1>

  <div class="recipe-card">
    <% @recipes.shuffle.each do |recipe|%>
      <div class="recipe-big-card"><%= image_tag("#{recipe.photo}", size:"350x250", alt: "Recipe image", class: "recipe-card") %><br>
        <div class="recipe-big-card-title"><%= link_to recipe.title, recipe_path(recipe) %></div>
        <!-- Missing description and how many ingredient the user already have -->
      </div>
    <% end %>
  </div>
</div>


