<div class="container">
  <h1>Here are all our recipes</h1>

  <ul>
  <% @recipes.shuffle.each do |recipe|%>
    <li><%= image_tag("#{recipe.photo}", size:"300x100", alt: "Recipe image") %>
    <%= link_to recipe.title, recipe_path(recipe) %></li>
  <% end %>
  </ul>
</div>