<div class="container">
  <h1>Find the perfect recipe to save</h1>

  <ul>
    <% @recipes.shuffle.each do |recipe|%>
      <li><%= image_tag("#{recipe.photo}", size:"300x200", alt: "Recipe image", class: "recipe-card") %><br>
      <%= link_to recipe.title, recipe_path(recipe) %></li>
    <% end %>
  </ul>
</div>
