<div class="container">
  <h1>Inbox</h1>

  <ul>
    <% @messages.each do |message| %>
    <li>
      <%= link_to(chatroom_path(message.chatroom.id)) do %>
        <%= message.other_user(current_user).first_name %><br>
        <%= message.content %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
