<div class="container">
  <h1>My profile</h1>
  <br>
  <%# User avatar goes here %>
  <br>
  <% if policy(@user).show? %>
    <p><strong>First name: </strong><%= @user.first_name %></p>
    <p><strong>Last name: </strong><%= @user.last_name %></p>
    <p><strong>Address: </strong><%= @user.address %></p>
  <% end %>
</div>