<body> 
  <div id="eggplant" class="spinner-container">
    <img class="spinner-eggplant" src="https://res.cloudinary.com/dtmuylvrr/image/upload/v1590761842/eggplant.svg">
    </img>
    <p class="spinner-text">Please Wait...</p>
  </div>
</body>