<div class="container">
  <h1 class="text-center"> My pantry </h1>

  <div class="pantry-container">
    <% @pantry_items.each do |pantry_item| %>
      <div class="pantry-card">
        <%= image_tag(pantry_item.ingredient.photo) %>
        <%= content_tag(:p, pantry_item.ingredient.name.capitalize) %>
      </div>
    <% end %>
  </div>

  <div class="pantry-form">
    <%= simple_form_for @pantry_item do |f| %>
      <%= f.submit %>
    <% end %>
  </div>


</div>
