<div class="container text-center">

  <h1>Fruits</h1>
  <br>
  <div class="cards">
    <% @food_trades.shuffle.each do |food_trade| %>
      <div class="small-food-card">
        <%= image_tag("#{food_trade.user_owned_ingredient.ingredient.photo}", size:"150x90", alt: "#{food_trade.user_owned_ingredient.ingredient.photo}" ) %>
        <p class="small-card-title"><%= link_to food_trade.user_owned_ingredient.ingredient.name.capitalize, food_trade_path(food_trade) %></p>
      </div>
    <% end %>
  </div>

</div>







