<h1>Help Your Neighbors</h1>
<ul>
  <% @food_trades.shuffle.each do |food_trade| %>
    <li>
      <p><strong><%= food_trade.user_owned_ingredient.user.first_name %> : </strong><br>
      Description: <%= food_trade.description %><br>
      Catgeory: <%= food_trade.category %><br>
      Address: <%= food_trade.location %></p>
    </li>
  <% end %>
</ul>

