.button-dark {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $turquoise;
}

.button-light {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $marine;
}
