.recipe_index_img {
  object-fit: cover;
  max-width: 100%;
}

.recipe_show_img {
  object-fit: cover;
  max-width: 100%;
}

.curved-div {
  position: relative;
  margin-bottom: 30px;
}


.img_recipe_abs {
  position: absolute;
}

.curved-div {
  position:relative;
  margin-bottom: 30px;
}

.svg_recipe_abs {
  position: absolute;
  bottom: -30px;
  margin-bottom: 10px;
}

// Index Recipes
.recipe-big-card {
  // Outer Box
  flex-grow: 0;
  flex-shrink:0;
  display: flex;
  flex-direction: column;
  background: #FBFBFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin: 45px auto;

  // Image
  img {
    -o-object-fit: cover !important;
    object-fit: cover !important;
    width: 100%;
    overflow: hidden;
    border-radius: 25px 25px 0px 0px;
  }

  // Recipe Name
  .recipe-big-card-title {
    margin: 15px;
    a{
      max-width: 100%;
      font-family: Comfortaa;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 36px;
      color: $f-green;
      margin-bottom: 0px;
    }
    // Ingredients that user have
    .recipe-big-card-ingredients{
      font-family: Hind Vadodara;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 10px;
      color: $f-nav-green;
      margin-bottom: 0px;
      padding: 5px;
    }
  }


  // // Recipe Description (Hidden because recipes don't have descriptions)
  // .recipe-big-card-content{
  //   font-family: Hind Vadodara;
  //   font-style: normal;
  //   font-weight: normal;
  //   font-size: 18px;
  //   line-height: 27px;
  //   color: $f-green;
  //   margin-bottom: 0px;
  //   padding: 5px;
  //   overflow: hidden;
  //   white-space: nowrap;
  //   text-overflow: ellipsis;
  // }

}

// Grid for specific category
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  grid-column-gap: 15px;
  margin: 0px;
}

// Specific category card
.small-food-card {
  // Outer Box
  max-width: 40vw;
  flex-grow: 0;
  flex-shrink:0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 170px;
  background: #FFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 10px;

  // Image (to adjust)
  img {
    object-fit: cover;
    max-width: 100%;
    max-height: 80%;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
  }

  .small-card-title {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    color: $f-green;
    margin: 10px 10px 0px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    a {
      font-family: Comfortaa;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 16px;
      color: $f-green;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .small-card-content{
    font-family: Hind Vadodara;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: $f-green;
    margin-bottom: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    a {
      font-family: Hind Vadodara;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 15px;
      color: $f-green;
    }
  }
}

// Carousel container + card
.carousel-card-container {
  width: 100vw;
  height: 250px;
  margin-top: 15px;

  .cards-carousel {
    width: 100%;
    display: flex;
    overflow: scroll;

    //Carousel card's
    .carousel-card {
      flex-grow: 0;
      flex-shrink:0;
      display: flex;
      flex-direction: column;
      width: 150px;
      height: 150px;
      background: #FBFBFF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      margin: 5px;

      // Image
      img {
        object-fit: cover !important;
        max-width: 100%;
        max-height: 80%;
        overflow: hidden;
        border-radius: 15px 15px 0px 0px;
      }

      .carousel-card-title {
        font-family: Comfortaa;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 16px;
        color: $f-green;
        margin: 10px 10px 0px 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a{
          font-family: Comfortaa;
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          line-height: 16px;
          color: $f-green;
        }
      }

      .carousel-card-content{
        font-family: Hind Vadodara;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 15px;
        color: $f-green;
        margin: 5px 10px 10px 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a{
          font-family: Comfortaa;
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          line-height: 16px;
          color: $f-green;
        }
      }
    }
  }
}

// Card for Cookbook and saved recipes
.wide-listing-card {
  // Outer Box
  flex-grow: 0;
  flex-shrink:0;
  display: flex;
  justify-content: start;
  width: 345px;
  height: 120px;
  background: #FBFBFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 25px 0px;

  // Image
  img {
    object-fit: cover !important;
    max-width: 45%;
    max-height: 100%;
    border-radius: 15px 0px 0px 15px;
  }

  // Food Name
  .wide-listing-card-title {
    margin: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 192.5px;
        a {
      font-family: Comfortaa;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 22px;
      color: $f-green;
    }
  }

  // Date posted
  .wide-listing-card-content{
    font-family: Hind Vadodara;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: $f-green;
    margin-bottom: 0px;
    padding: 5px;
    overflow: hidden;

  }
}


// Card for My item page and food for share
.food-to-share-picture {
  flex-grow: 0;
  flex-shrink:0;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 230px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin: 45px 0px;
  object-fit: cover;
}






