.recipe_index_img {
  object-fit: cover;
}

.recipe_show_img {
  object-fit: cover;
}

.recipe-card {
  // Outer Box
  background: #FBFBFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;

  // Image
  img {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 40.4%;

    object-fit: cover;

    border-radius: 25px 25px 0px 0px;
  }

  // Text Div
  div {
    h2 {
      // Recipe Name
      position: absolute;
      left: 2.55%;
      right: 0%;
      top: 65.59%;
      bottom: 26.54%;

      font-family: Comfortaa;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 36px;
      color: $f-green;
    }

    h3{
      // Recipe Description
      position: absolute;
      left: 2.5%;
      right: 56.42%;
      top: 76.06%;
      bottom: 18.03%;

      font-family: Hind Vadodara;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: $f-green;
    }

    p {
      // Ingredients had
      position: absolute;
      left: 2.55%;
      right: 44.19%;
      top: 92.2%;
      bottom: 2.68%;

      font-family: Hind Vadodara;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: $f-nav-green;
    }
  }
}

.carousel-food-card {
  // Outer Box
  left: 0%;
  right: 2.42%;
  top: 0%;
  bottom: 0%;

  background: #FBFBFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  // Image
  img {
    position: absolute;
    left: 0%;
    right: 2.42%;
    top: 0%;
    bottom: 40%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
  }

   // Text Div
  div {
    h2 {
      // Recipe Name
      position: absolute;
      left: 5.65%;
      right: 27.42%;
      top: 65.19%;
      bottom: 22.96%;

      font-family: Comfortaa;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: $f-green;
    }

    p {
      // Ingredients had
      position: absolute;
      left: 5.65%;
      right: 0%;
      top: 80%;
      bottom: 8.15%;

      font-family: Hind Vadodara;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 15px;
      color: $f-green;

    }
  }
}

// .small-food-card {

// }

// .food-listing-card {

// }

// .food-to-share-picture {

// }

// .pantry-card {

// }
