.data-form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 10px;

  textarea, label {
    margin: 0 auto;
  }

  label {
    margin-left: 13%;
  }

  textarea {
    // Styling
    background: $f-lightgrey;
    border: 1px solid $f-nav-green;
    box-sizing: border-box;
    border-radius: 25px;

    // Dimensions
    width: 90%;
    height: 40px;
  }
}

.signing-form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 0px;


  input, label {
    margin: 0 auto;
  }

  label {
    margin-left: 10%;
  }

  input {
    // Styling
    background: $f-lightgrey;
    border: 1px solid $f-nav-green;
    box-sizing: border-box;
    border-radius: 25px;

    // Dimensions
    width: 80%;
    height: 40px;
  }

  .text-muted {
    margin: auto;
    padding-right: 30px;
  }
}

#user_remember_me {
  height: 20px;
  margin-left: 25px;
}

#submit-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  .button-dark {
    width: 60%;
  }
}

.message-form {
  // Display
  position: fixed;
  bottom: 70px;
  display: inline-block;
  textarea {
    // Styling
    background: $f-lightgrey;
    border: 1px solid $f-nav-green;
    box-sizing: border-box;
    border-radius: 25px;

    // Dimensions
    width: 90vw;
    height: 40px;

    // Resizing
    resize: vertical;
    max-height: 100px;
    min-height: 40px;
  }
}

.trade-form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  textarea, label, input, select, .select2  {
    margin: 0 auto;
  }

  label {
    margin-left: 13%;
  }

  textarea, input, select, .select2 {
    // Styling
    background: $f-lightgrey;
    border: 1px solid $f-nav-green;
    box-sizing: border-box;
    border-radius: 25px;

    // Dimensions
    width: 80%;
    height: 40px;
  }

  .select2-container {
    width: 80% !important;
    }

  .select2-selection {
    background-color: inherit;
    border: none;
  }

  .select2-selection__rendered {
    margin-top: 5px;
    margin-left: 5px;
  }

  // Image upload styles

  .photo-upload {
    color: transparent;
    position: relative;
    color: $marine;
    padding: 3px 0 3px 0;
  }
  .photo-upload::-webkit-file-upload-button {
    visibility: hidden;
  }

  .photo-upload::before {
    content: 'Add';
    background-color: $turquoise;
    color: $marine;
    font-weight: 600;
    display: inline-block;
    position: absolute;
    right: 5px;
    // border: 1px solid $f-nav-green;
    border-radius: 25px;
    padding: 2px 18px;
    margin-top: 3px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 14px;
  }
}

.search_form {
  text-align: center;
  .select2 {
    margin: 10px 0;
    // padding: 0px 10px;
    padding-bottom: 10px;
    width: 88% !important;
  }
  .select2-selection {
    border-radius: 30px;
    border: 1px solid $f-nav-green !important;
    width: 100%;
    padding: 6px 0;
    display: flex;

  }
  .select2-selection__choice {
    background: $f-nav-green !important;
    color: $f-lightgrey !important;
    border-radius: 15px !important;
    padding: 0px 10px !important;
    border: none !important;
    font-weight: bold;
    font-family: $comfortaa;
    margin: 3px 3px 3px 0 !important;
    font-size: 12px;
  }

  .select2-selection__choice__remove {
    color: $f-lightgrey !important;
    padding: 5px;
  }

  .select2-selection__rendered {
    padding: 0px 20px !important;
  }
  
  #recipe_search_btn {
    width: 42%;
    padding-left: 22px;
    margin-right: 10px;

  }
}
