
.giveaway-info h2, .giveaway-info p {
  // padding-left: 6px;
  color: $f-green;
}

.giveaway-info h2 {
  // padding-top: 5px;
  font-weight: bold;
  font-size: 20px;
}

.giveaway-info p {
  font-weight: 300;
  font-size: 16px;
}

.giveaway_img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
