.navbar{
  padding-top: 19px;
  flex-direction: row-reverse;
  min-height: 68px;
  text-align: center;
  &.navbar-visitor{
    padding-top: 10px;
    flex-direction: row;
    min-height: 68px;
    position: relative;
    display:flex;
    justify-content: flex-end;
  }
}

.navbar-toggler-icon {
  padding-top: 5px;
  z-index: 1000;
  margin-top: 10px;
}

.navbar-nav {
  padding-top: 10px;
}

.flex-logo-visitor {
  position: absolute;
  margin: auto;
  top: 20px; left: 0; bottom: 0; right: 60px;
  max-width: 155px;
  max-height: 200px;
  width: 100%;
}

.flex-logo {
  position: absolute;
  margin: auto;
  top: 20px; left: 0; bottom: 0; right: 60px;
  max-width: 155px;
  max-height: 500px;
  z-index: 1;
  width: 100%;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}

.curved-navbar {
  position: relative;
  z-index: 10;
}
.navbar-green {
  background: $turquoise;
  padding: 16px;
}

.navbar-collapse {
  flex-grow: 0;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.top-nav-container {
  z-index: 1000;

  img {
    width: 40px;
    padding-right: 5px;
  }
  object {
    display: inline;
    padding-right: 5px;
  }
  a {
    display: inline;
  }
  li {
    padding-top: 16px;
    padding-left: 20px;
  }
  #navbar-user-avatar {
    display: inline;
  }
}

@media only screen and (min-width: 1024px) {
  /* For smaller than desktop: */
  .top-nav-container {
    top: 5px;
    right: 30px;

    img {
      width: 40px;
      padding-right: 5px;
    }
    object {
      display: inline;
      padding-right: 2px;
    }
    a {
      display: inline;
    }
  }
}

