.swal-modal {
  background-color: $f-lightgrey;
  border: 2px solid $f-green;
  border-radius: 16px;
  width: 60%;
}

.swal-title {
  margin: 0px;
  color: $f-green;
  margin-bottom: 28px;
  font-family: $comfortaa;
}

.swal-footer {
  text-align: center;
}
